@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

:root {
  --color-1: #030534;
  --color-2: #c386f1;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  color: var(--color-2);
}

*::first-letter {
  text-transform: uppercase;
}

html {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1em;
}

/*******************************************************
                        Page:
********************************************************/

body {
  background: url("../images/stars.svg"),
    linear-gradient(
      160deg,
      var(--color-1),
      var(--color-1),
      var(--color-2),
      var(--color-1),
      var(--color-1)
    );
  background-size: contain;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

body::after {
  content: "";
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: -1;
  display: block;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  background-image: linear-gradient(
      to right top,
      var(--color-1),
      var(--color-2),
      transparent
    ),
    radial-gradient(
      circle at 35% 25%,
      var(--color-1) 4%,
      var(--color-2) 10%,
      transparent
    ),
    radial-gradient(
      circle at 55% 65%,
      var(--color-1) 2%,
      var(--color-2) 10%,
      transparent
    ),
    radial-gradient(
      circle at 76% 45%,
      var(--color-1) 4%,
      var(--color-2) 9%,
      transparent 20%
    ),
    radial-gradient(
      circle at 36% 20%,
      var(--color-2) 4%,
      var(--color-2) 16%,
      transparent
    ),
    radial-gradient(
      ellipse at 65% 10%,
      var(--color-1) 4%,
      var(--color-2) 8%,
      transparent
    ),
    radial-gradient(
      ellipse at 15% 65%,
      var(--color-1) 10%,
      var(--color-2) 50%,
      transparent
    ),
    radial-gradient(ellipse at 10%, var(--color-2) 15%, transparent);
  filter: blur(2px) drop-shadow(0px 0px 20px var(--color-2)) grayscale(95%)
    brightness(300%);
  background-blend-mode: multiply;
}

/* 
body::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../images/Star.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  z-index: 5;
  top: 900px;
  left: 20px;
} */

/* body::after {
  content: "";
  position: fixed;
  display: block;
  background-image: url("../images/stars.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vh;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
} */

h1,
h2 {
  font-family: "Architects Daughter", cursive;
  filter: brightness(200%);
}

p,
cite {
  filter: brightness(200%);
}

main {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 25em));
  justify-content: center;
  gap: 6em;
  position: relative;
}

h1 {
  --turn: -1deg;
  --distance: 20px;
  text-align: center;
  font-size: clamp(2.5rem, 10vw, 5rem);
  filter: brightness(200%);
  transform: skewY(var(--turn));
  animation-delay: -1s;
  /* animation: floating 8s ease-in-out infinite; */
  animation: floating 8s ease-in-out infinite, space 28s ease-in-out 1;
}

body > header {
  /* > the direct child of the body */
  text-align: center;
  width: 100%;
  padding: 2em;
  margin-bottom: 2em;
}

body > header p {
  --turn: 2deg;
  --distance: 20px;
  color: var(--color-2);
  filter: brightness(100%);
  animation: floating 8s ease-in-out infinite;
}

main section {
  --turn: 0deg;
  --distance: 20px;
  content: "";
  width: inherit;
  height: inherit;
  top: 0;
  right: 0;
  /* background: var(--color-2); */
  padding: 1em;
  animation: floating 8s ease-in-out infinite;
  animation-delay: -2s;
}
main section header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
  text-align: center;
  margin-bottom: 10px;
}

main section header h2 {
  font-size: clamp(1.5rem, 10vw, 4rem);
  line-height: 48px;
  height: 48px;
  position: relative;
  filter: brightness(100);
}

main section header p {
  filter: brightness(100);
}

main section article {
  border-bottom: 1px solid var(--color-2);
  filter: brightness(100);
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1em;
  padding: 2em;
}

main section article p {
  grid-column: 1/2;
}

main section article div {
  display: grid;
  grid-row: 1 / 3;
  grid-column: 2 /3;
  place-items: center;
}

main span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--color-2);
  filter: brightness(5);
  top: 0px;
  right: 10px;
  position: absolute;
  z-index: -1;
  transform-origin: 100% 0;
  animation: star 8s infinite ease-out;
  animation-direction: normal;
  opacity: 0;
}
main span::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 4px;
  border: 2px solid var(--color-2);
  border-width: 2px 150px 2px 150px;
  border-color: transparent transparent transparent var(--color-2);
  transform: rotate(-45deg) translate3d(1px, -1px, 0);
  transform-origin: 0% 100%;
  animation: shooting 9s infinite ease-out;
  animation-direction: normal;
}

@keyframes floating {
  0%,
  100% {
    transform: skewY(var(--turn)) translate(0, calc(var(--distance) * -1));
  }
  50% {
    transform: skewY(var(--turn)) translate(0, var(--distance));
  }
}

@keyframes space {
  0% {
    transform: translate(-54vw, 0);
  }
  100% {
    transform: translate(0vw, 0);
  }
}

@keyframes shooting {
  0% {
    transform: scale(1) rotate(-45deg) translate(0px, 0px);
  }
  95% {
    transform: scale(1) rotate(-45deg) translate(0px, 0px);
  }
  100% {
    transform: scale(0.5) rotate(-45deg) translate(0px, -1px);
  }
}

@keyframes star {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0) rotate(0) translate3d(0, 0, 0);
  }
  95% {
    opacity: 1;
    transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
  }
  100% {
    opacity: 0;
    transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
  }
}

@media print {
  @page {
    size: portrait;
    margin: 5% 10%;
  }

  * {
    font-family: "Inter", sans-serif;
  }

  *::first-letter {
    text-transform: uppercase;
  }

  h1,
  h2,
  h3,
  p,
  div {
    text-align: start;
    color: var(--color-2);
    filter: brightness(0%);
  }

  main span::after,
  main span,
  main section header::after {
    display: none;
  }

  h1 {
    transform: skew(0deg);
    font-style: normal;
    animation: none;
  }

  body > header {
    margin: 0px;
    padding: 0px;
  }

  body > header p {
    color: var(--color-2);
    filter: brightness(0%);
  }

  main {
    display: block;
    margin: 0px;
  }

  main section {
    padding: 0px;
    margin: 0px;
  }

  main section header {
    margin: 0px;
  }

  main section header h2 {
    margin: 0px;
    text-align: start;
  }

  main section header p {
    color: var(--color-2);
    filter: brightness(0%);
  }

  main section article {
    padding: 0px;
    margin: 0px;
    display: block;
  }

  p,
  cite {
    filter: brightness(0%);
  }

  main section header h2 {
    font-size: 48px;
    filter: brightness(0%);
  }
}

/* min
max
clamp
print
filter() */
